*, html, body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  padding: 0;
}

html, body {
  height: 100%;
}

#dice_image_root {
  cursor: pointer;
}

#root {
  text-align: center;
  height: 100%;
  background-color: black;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

#spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#message-container {
  position: absolute;
  bottom: 20%;
  width: calc(100% - 32px);
  padding: 8px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
